@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.layout-container {
  padding: 2vw;

  p{
    font-size: 1.5rem;
    color: var(--foreground);
  }

  .client-component-container, .server-component-container{
    background: var(--background);
    color: var(--foreground);
    border-radius: 0.5rem;
    margin: 2vw 0;
    p{
      font-size: 1.2vw;
    }
  }

  .user-container, .post-container{
    .title{
      font-weight: 700;
      font-size: 1.5vw;
    }
    .ctaContainer{
      display: flex;
      .cta{
        padding: 7px;
        border-radius: 10px;
        border: 1px solid var(--foreground);
        margin-right: 10px;
        cursor: pointer;
        font-size: 0.7vw;

        &.primary {
          background: #4ff7ac;
        }
        &.secondary {
          background: #f74d40;
        }
      }
    }
    .errorContainer{
      text-transform: uppercase;
      color: red;
      font-size: 0.6vw;
      padding: 10px 0;
    }
    .card{
      border: 1px solid var(--foreground);
      padding: 20px;
      border-radius: 20px;
      margin: 3vw 0;
      width: 400px;
      img {
        max-width: 400px;
        max-height: 200px;
      }
      .card-title{
        font-size: 0.9vw;
        font-weight: 700;
        max-width: 400px;
      }
      .card-content{
        font-size: 0.5vw;
        color: var(--foreground);
        text-align: justify;
        max-width: 400px;
      }
    }
  }
}
